@import "tailwindcss";

body{
/* font-family:inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  */background-color: #ffffff;
  
}

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

/*
button{
  background-color: #69696900;
  border-style: none;
  margin: 0;
  padding: 0;
  color:#2c2c2c;
}*/

.loader-bg{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(5);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

.page404{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page404 div{
  display: flex;
 align-items: center;
 justify-content: center;
}

#error404{
  font-size: 128px;
  color: #d9d9d9;
  font-weight: 700;
 height:150px;

}

#page-not-found{
  font-size: 18px;
  color: #b3b3b3;
}

.page404 div button{
  font-size: 14px;
  margin: 10px;
  text-decoration: underline;
  
}


.formbg{
  /*width:312px;*/
  width: 80%;
  padding-left: 4px;
  padding-right: 4px;
  height: 45%;
  display:flex;
  flex-direction: column;
  /* 55 6.4*/
  overflow: hidden;
  justify-content: space-between;
  
}

.form-header{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #2c2c2c;
}

.formbg form{
  display: flex;
  flex-direction: column;
  height: 55%;
  justify-content: space-between;
  padding: 0;
  margin: 0;

}

.formbg .form-label{
  font-size: 14px;
  color: #696969;

}

.login-logo{
  border-radius: 5px;

}

.login button{
  border-radius: 5px;
}

.login-error{

  display: flex;
  margin-top: 10px;
  justify-content: center;
  
  font-size: small;
}

/* dashboard*/

.dashboard{

}


.dashboard-home{
  display: grid;
  grid-template-rows: repeat(2,auto);
  width: 500px;
  gap: 1rem;
  margin: 4rem 15px 20px 15px;
  

  
}




.dashboard-location{
  font-size: 10px;
  color: #696969;
  color: #C5C5C7;

}


.back-button{
  position: fixed;
  top: 22px;
  left: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;
  
}

.back-button span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
font-size: 15px;
}


.add-order-button{
  position: fixed;
  bottom: 25px;
  
  left:50%;
  transform: translateX(-50%);
  
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 0;

}

.add-order-button button{
  background-color:#a7c957;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
 z-index: 0;
}

.order-list{


}

.order-list-header{
  color: rgb(180, 180, 180);
}


.order-list-item div, .order-list-header div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.order-list-buttons button span{
  font-size: 15px;
 
 
}

.order-info-edit{
  margin-right: 18px;
}

.order-info-edit span{
  color: rgb(69, 69, 69);
  display: flex;
}

.order-info-delete span{
  color: rgb(189, 64, 64);
  display: flex;
}

.order-info-status{
  font-size: 12px;
  font-weight: 600;
  background-color: #e2e2e2;
  color: rgb(255, 255, 255);
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 5px;
}

.past-orders-cal-header{
margin-top: 30px;
margin-bottom: 30px;
}

.calendar-nav{
  /*
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;*/
  margin: 10px 0;
  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 
  text-align: center;
  gap: 10px;
  font-size: 14px;
  
  
}

.month-year{
  font-weight: 600;
  font-size: 14px;
  /* Spans columns 2 through 6 */
  
}

.nav-buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.nav-button-today{
  margin-left: 10px;
  margin-right: 10px;
}

.arrowButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowButton span{
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.calendar{
  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
  text-align: center;
  column-gap: 10px;
  
  row-gap: 1rem;
  font-size: 14px;
  
}

.calendar div{
  
  width: 100%;
  text-align: center;
  
}

.calendar-num-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

.day-name{
  color: #C5C5C7;
  font-size: 10px;
}

.day-num, .day-num-today, .day-num-order-true, .day-num-today-order-true, .day-num-past-order-true, .day-num-past{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}



.day-num-past-order-true{
  color: #ffffff;
  background-color:#e2e2e2;
}

.day-num-order-true{
  color: white;
  background-color:#a7c957;
  
}

.day-num-today-order-true{
  color: white;
  background-color:#a7c957;
}

.day-num-today{
  color:#a7c957;
  border-style: solid;
  border-width: 1.5px;
  border-color:#a7c957;
}

.day-num:hover, .day-num-order-true:hover, .day-num-today:hover, .day-num-today-order-true:hover, .day-num-past-order-true:hover, .day-num-past:hover{
  background-color: #F7F7F7;
}

.day-num-past-order-true:hover{
  color:#bfd194;

}

.day-num-order-true:hover{
  color:#a7c957;
}

.day-num-today-order-true:hover{
  color:#a7c957;
}

.day-num-today:hover{
  
}

.day-num-selected{
  border-style: solid;
  border-width: 1.5px;
  
  border-color: #3B3A3A;
}

.day-num-selected:hover{
  border-style: solid;
  border-width: 1.5px;
  border-color: #3B3A3A;
}

.day-num-grey{
  color: #C5C5C7;
}

.day-num-grey-order-true{
  
}

.order-confirm-delete-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(140, 140, 140, 0.245);
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-confirm-delete-box{
  background-color: #ffffff;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.order-confirm-delete-box-close{ 
  margin-right: 10%;
  margin-top: 10px;
  align-self: flex-end;
}

.order-confirm-delete-box-message{
 margin-top: 20px;
 margin-bottom: 5px;
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.order-confirm-delete-box-buttons{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.order-confirm-delete-box-buttons button{
  width: 50px;
  border-radius: 5px;
}

.order-confirm-delete-box-yes{
background-color: #c13b21;
color: white;
}

.order-confirm-delete-box-no{
  background-color: #d9d9d9;
}

.order-form-bg{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-form-box{
  background-color: white;
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  
}

.order-form-box div{
  margin-bottom: 10px;
}

.order-form-order-list, .order-form-order-list-header{
  display: grid;
grid-template-columns: 120px 40px 60px;
  gap: 20px;
  font-size: 12px;
  
}

.order-form-order-list-header{
  color: #a1a1a1;
}

.order-form-order-list-add-header, .order-form-order-list-add-inputs{

  display: grid;
  grid-template-columns: 120px 40px 60px;
  gap: 20px;
  font-size: 12px;
  color: #a1a1a1;
}

.order-form-order-list-add-inputs input{
  padding: 5px;
   border-color: #eeeeee;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  font-size: 12px;

}

.order-form-order-list-add-item-button{
  background-color: #696969;
  color: white;
  width: 100%;
  border-radius: 5px;
}

.order-form-order-list-default-items{
  font-size: 12px; 
}

.order-form-order-list-delete-item-button{
  background-color:#bc4749;
  width: 100%;
  color: white;
  border-radius: 5px;
}

.order-form-save{

  background-color: #a7c957;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;

}

.past-orders-list-no-orders{
font-size: 12px;
text-align: center;
margin-top: 50px;
color:#C5C5C7;

}

.past-orders-list{
  margin-top: 15px;
  margin-bottom: 80px;
}

.order-list-item{
  margin-bottom: 10px;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: #eeeeee;
  font-size: 12px;
}

.order-form-label{
  font-size: 12px;
  color: #a1a1a1;

}

.order-form-input div input, .order-form-input div textarea, .order-form-input div select, .order-form-input-missing div input, .order-form-input-missing div select, .order-form-input div div{
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}

 .order-form-input-missing div input, .order-form-input-missing div input, .order-form-input-missing div div{

  border-color:#bc4749;

}

.order-form-header{
  font-size: 14px;
  font-weight: 700;

}

.order-form-buttons{
  display: flex;
  gap: 10px;
}

.order-form-fields-missing{
  font-size: 10px;
  color: #bc4749;
}

.order-form-input div div{
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}

.order-form-input-missing div div{
  width: 100%;
  padding: 5px;
  font-size: 12px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
}

.order-form-input div div input{
  width: 100px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border-style: none; 
}
.order-form-input-missing div div input{
  width: 100px;
  padding: 0;
  margin: 0;
  font-size: 12px;
  border-style: none; 
}

.order-form-input-missing div div {

  border-color:#bc4749;
}


.hamburger-menu{
  margin-right: 5px;

  
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: rgb(91, 91, 91);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: rgb(91, 91, 91);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: relative;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  top: 13px;
  right: 0;
  width: 15px;
  height: 1px;
  background-color: white;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -5px;
}
.menu__btn > span::after {
  content: '';
  top: 5px;
}
.menu{
  width: 100vb;
  position:fixed;
  height: 100vh;
  background-color:#2c2c2c ;
  transition-duration: .1s;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 90px 10px;
  background-color: #ffffff;
  transition-duration: .25s;
  z-index: 1;
}
.menu__item {

  font-size: 14px;
  transition-duration: .25s;
    
}
.menu__item:hover {
  background-color: #F7F7F7;
}

.menu__item button{
  padding: 0 5px;
}

.dashboard-nav-header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 30px;
  width: 100%;
  height: 50px;
  padding: 10px 15px;
  align-items: center;
  justify-content: space-between;
  background-color: #3B3A3A; 
}

.dashboard-nav-title{
  font-size: 12px;
  color:white ;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
  

}

.dashboard-logo img{
  width: 25px;
  border-radius: 5px;
}

.dashboard-menu-box-logo img{
  width: 50px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.dashboard-menu-box-header{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  font-weight: 550;
  font-size: 14px;
  color:#3B3A3A;
 
}

.dashboard-menu-box-user{
  margin-top: 25px;
  
   display: flex;
  padding: 10px 0;
  font-size: 14px;
  gap: 5px;
  align-items: center;
}

.menu__item{
  margin-bottom: 10px;
  padding: 10px 0;
  
}

.menu__item button{
  width: 100%;
  text-align: left;
  display: flex;
  gap: 10px;
  

}

.menu__item button span{
  font-size: 20px;
 
}

.dashboard-menu-grid{
  display: grid;
  grid-template-columns: 25px auto;
  gap: 10px;
  
  

}

.dashboard-menu-grid > :nth-child(1) {
  display: flex;
  justify-content: end;
}

.dashboard-menu-grid div span{
  color:#3B3A3A;
}


.order-form-exit{
  position: absolute;
  top: 10px;
  right: 35px;
  color:#3B3A3A;
  
}